@import "helpers/reset.scss";
@import "helpers/layout.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700');

// ----------------------------------- SASS VAR & MIXINS

// ---------------------------- Layout

%inline-block {
  display: inline-block;
  vertical-align: top;
}


/* ------------------------------------------------ BASE
*/
body {
  font: 100 14px "Roboto", sans-serif;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  /* To target IE9 downwards and Opera the html attribute unselectable must be used instead: <div unselectable="on">Test Text</div> */
}
/* ---------------------------------------------- MODULE
*/

.list-items {
  @extend %inline-block;
}
ul {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}
li, #reset {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((400px - 8px)/4);
  height: 100px;
  background: #c0c0c0;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C0C0C0), to(#d9d9d9));
  background: -webkit-linear-gradient(0% 0%, 0% 100%, from(#C0C0C0), to(#d9d9d9));
  background: -moz-linear-gradient(center top, #c0c0c0, #d9d9d9);
  background: linear-gradient(#c0c0c0, #d9d9d9);
  text-align: center;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  cursor: pointer;
}
.resume {
  @extend %inline-block;
}
table {
  border-collapse: collapse;
  border: 1px solid black;
}
th {
  min-width: 150px;
  line-height: 2em;
  background-color: #29313C;
  color: #fdfdfd;
}
td {
  min-width: 150px;
  padding: 5px 10px;
  text-align: left;
  &:nth-of-type(2) {
    text-align: center;
    color: #3B9FF4;
  }
  &:nth-of-type(3) {
    text-align: right;
  }
}
#showNumber {
  width: 450px;
  background-color: #c0c0c0;
  background: linear-gradient(#c0c0c0, #d9d9d9);
  font-size: 2em;
}
#money, #refund {
  width: 450px;
  font-size: 2em;
  border: 1px solid black;
}
