@import "helpers/reset.scss";
@import "helpers/layout.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700');

// ----------------------------------- SASS VAR & MIXINS
@mixin gradient {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C0C0C0), to(#d9d9d9));
  background: -webkit-linear-gradient(0% 0%, 0% 100%, from(#C0C0C0), to(#d9d9d9));
  background: -moz-linear-gradient(center top, #c0c0c0, #d9d9d9);
  background: linear-gradient(#c0c0c0, #d9d9d9);
}

// ---------------------------- Layout

%inline-block {
  display: inline-block;
  vertical-align: top;
}

/* ------------------------------------------------ BASE
*/
body {
  font: 100 14px "Roboto", sans-serif;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  /* To target IE9 downwards and Opera the html attribute unselectable must be used instead: <div unselectable="on">Test Text</div> */
}
/* ---------------------------------------------- MODULE
*/

.main {
  display: flex;
  width: 100%;
  padding: 10px;
}
ul {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  max-height: calc(100px * 3);
  margin-left: 10px;
}
li, #reset {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100% - 8%)/4);
  height: 100px;
  margin: 0 1%;
  background: #c0c0c0;
  @include gradient;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  &:nth-of-type(n+5) {
    margin-top: 1%;
  }
}
.numbers {
  width: 50%;
  height: 80vh;
}
table {
  width: 80%;
  border-collapse: collapse;
  border: 1px solid black;
}
th {
  line-height: 2em;
  background-color: #29313C;
  color: #fdfdfd;
}
td {
  padding: 5px 10px;
  border-bottom: 1px solid #000;
  text-align: left;
  &:nth-of-type(2) {
    text-align: center;
    color: #3B9FF4;
  }
  &:nth-of-type(3) {
    text-align: right;
  }
}

#showNumber {
  background-color: #c0c0c0;
  @include gradient;
  font-size: 2em;
}
#money, #refund {
  font-size: 2em;
  border: 1px solid black;
}
