/* ----------------------------------------------- RESET
*/
/* http://meyerweb.com/eric/tools/css/reset/
   2. v2.0 | 20110126 License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ---------------------------------------------- LAYOUT
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box; }

/* ------------------------------------------------ BASE
*/
body {
  font: 300 16px "Roboto", sans-serif;
  background-color: #E7E7E7;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  /* To target IE9 downwards and Opera the html attribute unselectable must be used instead: <div unselectable="on">Test Text</div> */ }

/* ---------------------------------------------- MODULE
*/
.page {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-flex-align: top;
  -ms-flex-align: top;
  -webkit-align-items: top;
  align-items: top;
  width: 100%;
  padding: 30px;
  margin-bottom: 10px; }

@media all and (min-width: 900px) {
  .page {
    width: 1024px;
    margin: 0 auto; } }
@media all and (max-width: 700px) {
  .page {
    min-width: 700px;
    margin: 0 auto; } }
.check {
  width: 30%;
  margin-right: 15px; }

.container {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-align: top;
  -ms-flex-align: top;
  -webkit-align-items: top;
  align-items: top;
  align-self: flex-start;
  width: 70%;
  margin-left: 15px; }

.header {
  width: 100%;
  padding: 15px;
  background-color: #fff;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  color: #7C7C7C;
  font-size: 1.2em;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize; }

.drink__list, .calculator__list {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  flex-wrap: wrap;
  width: 100%;
  padding: 1%;
  background-color: #f0f1f2;
  border-radius: 0 0 5px 5px; }

.drink__item, .calculator__item {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 110px;
  height: 110px;
  margin: 2% auto;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C0C0C0), to(#d9d9d9));
  background: -webkit-linear-gradient(0% 0%, 0% 100%, from(#C0C0C0), to(#d9d9d9));
  background: -moz-linear-gradient(right top, #c0c0c0, #d9d9d9);
  background: linear-gradient(to left bottom, #6D90CB, #5D84C5);
  border-radius: 5px;
  color: #fff;
  text-align: center;
  cursor: pointer; }

.drink {
  display: block; }

.calculator {
  display: none; }

.calculator__item {
  font-size: 1.5em; }

.arrow {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  align-self: center;
  min-width: 80px;
  height: 80px;
  margin: 0 5%;
  background: linear-gradient(#c98474, #d39c8f);
  border-radius: 50px;
  border: 1px solid #ce9081;
  box-shadow: 8px 10px 20px 0px rgba(46, 61, 73, 0.3);
  transition: box-shadow 0.3s ease;
  font-size: 1.5em;
  cursor: pointer;
  color: #fff; }
  .arrow:hover {
    box-shadow: 4px 5px 20px 0px rgba(46, 61, 73, 0.3); }

table {
  width: 100%;
  background-color: #F5F5F5;
  border-collapse: collapse;
  border: 1px solid #F5F5F5; }

th {
  line-height: 2em;
  background-color: #29313C;
  color: #fdfdfd; }

td {
  padding: 5px 10px;
  border-bottom: 1px solid #E7E7E7;
  text-align: left;
  font-weight: 400; }
  td:nth-of-type(2) {
    text-align: center;
    color: #3B9FF4; }
  td:nth-of-type(3) {
    text-align: right; }

/*{
  padding: 10px 20px;
  background: linear-gradient(#c98474, #d39c8f);
  border-radius: 3px;
  border: 1px solid #ce9081;
  color: #fff;
  cursor: pointer;
  &:hover {
    background: linear-gradient(#a0695c, #c98474);
    border: 1px solid #b47668;
    cursor: pointer;
  }
}*/
.button__cell {
  width: 100%;
  padding: 10px 20px;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer; }
  .button__cell:hover {
    cursor: pointer; }

.button__text_small {
  display: inline-block;
  width: 30%;
  font-size: 1em;
  vertical-align: middle; }

.button__text_big {
  display: inline-block;
  width: 65%;
  font-size: 1.2em;
  vertical-align: middle;
  text-align: right; }

#charge {
  background: linear-gradient(#a9db80, #98c573);
  border: 1px solid #98c573; }
  #charge:hover {
    background: linear-gradient(#b1de8c, #c2e5a6);
    border: 1px solid #c2e5a6; }

#money {
  background: linear-gradient(to left bottom, #6D90CB, #5D84C5); }

#reset {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer; }
  #reset:hover {
    background: linear-gradient(#c98474, #d39c8f);
    border-radius: 3px;
    border: 1px solid #ce9081;
    color: #fff; }

#showNumber, #refund {
  width: 100%;
  padding: 10px 20px;
  color: #c98474;
  text-align: right; }

/* ---------------------------------------------- STATE
*/
.is__active {
  display: block; }

.is__hidden {
  display: none; }

/*# sourceMappingURL=pos.css.map */
