@import "helpers/reset.scss";
@import "helpers/layout.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700');

// ----------------------------------- SASS VAR & MIXINS
@mixin gradient {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C0C0C0), to(#d9d9d9));
  background: -webkit-linear-gradient(0% 0%, 0% 100%, from(#C0C0C0), to(#d9d9d9));
  background: -moz-linear-gradient(left top, #c0c0c0, #d9d9d9);
  background: linear-gradient(to right bottom, #c0c0c0, #d9d9d9);
}

// ---------------------------- Layout

/* ------------------------------------------------ BASE
*/
body {
  font: 100 14px "Roboto", sans-serif;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  /* To target IE9 downwards and Opera the html attribute unselectable must be used instead: <div unselectable="on">Test Text</div> */
}
/* ---------------------------------------------- MODULE
*/

.page {
  display: flex;
  align-items: top;
  width: 100%;
  padding: 30px;
  margin-bottom: 10px;
}
.check {
  width: 45%;
  margin-right: 15px;
}
.drink {
  width: 65%;
  margin-left: 15px;
}
.header {
  width: 100%;
  text-align: center;
  font-size: 2em;
  font-weight: 400;
  border: 1px solid #000;
  border-radius: 10px 10px 0 0;
}
.drink__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 1%;
  background-color: #fdfdfd;
  border: 1px solid #000;
  border-radius: 5px;
}
.drink__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100% - 16%)/4);
  height: 100px;
  margin: 2%;
  @include gradient;
  border-radius: 5px;
  cursor: pointer;
}
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}
th {
  line-height: 2em;
  background-color: #29313C;
  color: #fdfdfd;
}
td {
  padding: 5px 10px;
  border-bottom: 1px solid #000;
  text-align: left;
  &:nth-of-type(2) {
    text-align: center;
    color: #3B9FF4;
  }
  &:nth-of-type(3) {
    text-align: right;
  }
}
.divs  {
  width: 100%;
  font-size: 2em;
  border: 1px solid black;
}
#calculator {
  display: none;
}
